<%- include('header') -%>

<h1><%= title %></h1>

<%- include('events') -%>

<div class="link">
  <a class="link__link" href="/users/login">Innskráning stjórnanda</a>
</div>

<%- include('footer') -%>
